body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavender; /* Color de fondo lila */
    font-family: 'Outfit', sans-serif; /* Cambia a fuente Outfit */
}

.cromo {
    text-align: center;
    padding: 20px;
    background-color: white; /* Fondo blanco de la carta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra leve */
    max-width: 300px; /* Más estrecha */
    position: relative; /* Para poder posicionar el logo pequeño */
    border-radius: 20px; /* Bordes redondeados */
}

.logo {
    width: 100%; /* Ajusta el tamaño del logo grande */
    max-width: 200px; /* Limita el ancho del logo grande */
    height: auto; /* Mantiene la proporción */
}

.texto {
    display: flex; /* Habilita el diseño de columnas */
    flex-direction: column; /* Coloca las columnas en vertical */
}

.columnas {
    display: flex; /* Habilita el diseño de columnas */
}

.columna {
    padding: 5px; /* Espaciado interno */
}

.ancho {
    flex: 2; /* Esta columna será el doble de ancha que la otra */
}

.separador {
    border: none; /* Sin borde */
    height: 1px; /* Altura de la línea */
    background-color: lightgray; /* Color gris suave */
    margin: 10px 0; /* Espaciado arriba y abajo */
}

p {
    margin: 10px 0; /* Margen para párrafos */
    color: darkgray; /* Color gris oscuro para el texto */
    text-align: left; /* Por defecto, el texto es alineado a la izquierda */
}
pd {
    margin: 10px 0; /* Margen para párrafos */
    color: darkgray; /* Color gris oscuro para el texto */
    text-align: right; /* Por defecto, el texto es alineado a la derecha */
}
.mi-clase {
  font-weight: bold;      /* Negrita */
  color: black;        /* Color negro */
}
/* Estilo para el logo pequeño */
.small-logo {
    width: 30px; /* Ajusta el ancho del logo pequeño */
    position: absolute; /* Posiciona el logo pequeño */
    bottom: 10px;
    right: 30px;
